/* This is a comment in CSS */
html {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  background-color: #26a269;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 20px 10px 10px 0;
    padding: 20px 0;
    color: white;
    text-shadow: 3px 3px 1px black;
}

h2 {
    font-size: 25px;
    color: white;
    
}

h3 {
    font-size: 20px;
    color: white;
}

p, 
li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    color: white;
}

body {
    width: 50%;
    margin: 0 auto;
    /*background-color: white;*/
    padding: 10px 10px 10px 10px;
    /*border: 5px solid black;*/
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 30%;
}

a {
    color: white;
}
